@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<br />
<h1 class="text-center">Welcome to Audrey's Home Page!</h1>
<br />
<h4 class="text-center">Strong believer in the benefit of the doubt.</h4>
<br />
<br />

<!-- Image of me block.-->
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/AudreyLyEcomLead.jpg" alt="Hey, this is a headshot of me." title="Audrey in front of a white wall with a soft smile." />
</div>

<br />
<div class="text-center">
    <div class="btn-group-lg">
        <!--Buttons under picture. -->
        <a asp-action="AboutMe" class="btn btn-primary">About Me</a>
        <a asp-action="Blog" class="btn btn-primary">My Blog</a>
        <a asp-action="Portfolio" class="btn btn-primary">Portfolio</a>
        <a asp-action="Resume" class="btn btn-primary">Resume</a>
    </div>
</div>
<hr class="hr-danger" />

<!-- Contact text block. -->
<div class="text-center">
    <p>If you want to contact me, my email address is <a href="mailto:audreyly@utexas.edu?subject=MIS 333K">audreyly@utexas.edu.</a> Message me and I will try my best to answer in under 24 hours.</p>
    <br />
    <br />
</div>

<!-- TED Talk block. -->
<h2 class="text-center">TED Talk</h2>
<div class="text-center">

    <p>I like this video about yo-yo mastery. It was really captivating.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div style="max-width:854px">
                <div style="max-width:854px">
                    <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/gnuFrtTNUTc" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<br />
<br />




